apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: feedback
type: Opaque
data:
  mysql-root-password: cm9vdA==

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: feedback
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: feedback
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              value: feedbackdb
          ports:
            - containerPort: 3306
